<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.northwestern.habits.datagathering" >

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="com.microsoft.band.service.access.BIND_BAND_SERVICE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name=".DataGatheringApplication"
        android:allowBackup="false"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity android:name=".ManageConnectionActivity" >
        </activity>

        <service
            android:name=".banddata.BandDataService"
            android:enabled="true"
            android:exported="false"
            android:label="Band Data Service"
            android:process=":BandData" >
        </service>

        <activity android:name=".NecklaceManagementActivity" >
        </activity>

        <service
            android:name=".necklacedata.NecklaceDataService"
            android:enabled="true"
            android:exported="true"
            android:process=":NecklaceData" >
        </service>

        <service
            android:name=".phonedata.PhoneDataService"
            android:enabled="true"
            android:exported="true"
            android:process=":PhoneData" >
            android:process=":NecklaceData" >
        </service>

        <activity
            android:name=".userinterface.UserActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".CrashActivity"
            android:textAppearance="@android:style/TextAppearance.Large"
            android:theme="@android:style/Theme.Dialog"
            android:windowSoftInputMode="stateHidden" >
            <intent-filter>
                <action android:name="com.northwestern.habits.datagathering.SEND_LOG" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".userinterface.AdvancedSettingsActivity"
            android:label="@string/title_activity_advanced_settings"
            android:windowSoftInputMode="adjustResize" >
        </activity>
        <activity
            android:name=".userinterface.SplashActivity"
            android:label="@string/title_activity_splash"
            android:noHistory="true"
            android:theme="@style/SplashTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".database.DataManagementService"
            android:enabled="true"
            android:exported="true"
            android:process=":service_data_management">
        </service>

        <receiver android:name="com.northwestern.habits.datagathering.MyReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />
                <action android:name="android.net.wifi.supplicant.CONNECTION_CHANGE"/>
            </intent-filter>
        </receiver>
    </application>



</manifest>
